In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Company_Data.csv')
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [3]:
df.dtypes

Sales          float64
CompPrice        int64
Income           int64
Advertising      int64
Population       int64
Price            int64
ShelveLoc       object
Age              int64
Education        int64
Urban           object
US              object
dtype: object

In [4]:
df.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [38]:
df['High'] = df.Sales.map(lambda x: 1 if x>8 else 0)

In [39]:
df['ShelveLoc']=df['ShelveLoc'].astype('category')
df['Urban']=df['Urban'].astype('category')
df['US']=df['US'].astype('category')

In [40]:
df.dtypes

Sales           float64
CompPrice         int64
Income            int64
Advertising       int64
Population        int64
Price             int64
ShelveLoc      category
Age               int64
Education         int64
Urban          category
US             category
High              int64
dtype: object

In [41]:
df['ShelveLoc']=df['ShelveLoc'].cat.codes
df['Urban']=df['Urban'].cat.codes
df['US']=df['US'].cat.codes

In [42]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,High
0,9.50,138,73,11,276,120,0,42,17,1,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1,0
4,4.15,141,64,3,340,128,0,38,13,1,0,0

In [43]:
x = df.drop(['Sales', 'High'], axis = 1)

In [44]:
y = df.High

In [45]:
y.head()

0    1
1    1
2    1
3    0
4    0
Name: High, dtype: int64

In [46]:
x.head()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,0,42,17,1,1
1,111,48,16,260,83,1,65,10,1,1
2,113,35,10,269,80,2,59,12,1,1
3,117,100,4,466,97,2,55,14,1,1
4,141,64,3,340,128,0,38,13,1,0

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
from sklearn.tree import DecisionTreeClassifier

In [49]:
from sklearn.ensemble import BaggingClassifier 
from sklearn.ensemble import AdaBoostClassifier

In [50]:
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.2,random_state=0)

In [51]:
model =  BaggingClassifier(DecisionTreeClassifier(max_depth = 6), random_state=0)

In [52]:
model =  AdaBoostClassifier(DecisionTreeClassifier(max_depth = 6), random_state=0)

In [53]:
model = model.fit(x_train,y_train)

In [54]:
y_pred= model.predict(x_test)

In [55]:
from sklearn.metrics import accuracy_score

In [56]:
accuracy_score(y_test,y_pred)

0.75

In [57]:
from sklearn.metrics import classification_report, confusion_matrix

In [58]:
print(confusion_matrix(y_test,y_pred))

[[36  7]
 [13 24]]

In [59]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.73      0.84      0.78        43
           1       0.77      0.65      0.71        37

    accuracy                           0.75        80
   macro avg       0.75      0.74      0.74        80
weighted avg       0.75      0.75      0.75        80